.container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.25rem;

  /* margin-top: 0.75rem; */
  /* background-color: var(--linkContainerBg); */

  transition: background-color 0.15s ease;
}
/* .container:hover {
  background-color: var(--linkContainerBgHover); 
  border: 1px solid var(--linkContainerBorderHover);
} */
.left {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.25rem 0rem;
  margin-top: -2px;
  margin-right: 1.125rem;
}
.right {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid var(--linkContainerBorder);
  justify-content: space-between;
  padding: 1.25rem 0rem;
  transition: border 0.2s ease;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* width: 70%; */
}
.inline {
  display: inline;
}
.container .externalIcon {
  opacity: 0;
  transition: opacity 0.2s ease, color 0.2s ease;
}

.container:hover .externalIcon {
  opacity: 1;
}
.externalIcon {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: 3px;
  font-weight: 300;
}
.companyLink {
  transition: background-color 0.15s ease;
}
.companyLink:hover {
  border-radius: 4px;
  background-color: var(--gray4);
  padding: 2px 5px 2px 5px;
  margin: -2px -5px -2px -5px;
}

.stackRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* margin-right: 1rem; */
}
.entry {
  font-size: var(--font-m);
  margin-top: 4px;
  font-weight: 390;
  color: var(--gray12);
}
.type {
  font-size: var(--font-s);
  color: var(--gray9);
}
.iconContainer {
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--gray5);
  overflow: hidden;
  transition: all 0.2s ease;
}
.icon {
  border-radius: 100px;
}
