.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* padding: 1.5rem 0rem 1.5rem 0rem; */
  position: relative;
  margin: 0rem -1rem;
  padding: 0rem 1rem;
  transition: background-color 0.15s ease;
  border-radius: 6px;
}
.container:hover {
  background-color: var(--linkContainerBgHover);
  /* border: 1px solid var(--linkContainerBorderHover); */
  cursor: pointer;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-left: 2rem;
  padding: 2rem 0rem 2rem 0rem;
  width: 100%;
  border-bottom: 1px solid var(--linkContainerBorder);
}
.image {
  border-radius: 8px;
  overflow: hidden;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
