.container {
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  display: block;
  width: auto;
  flex-shrink: 0;
  margin: 0rem;
  /* background-color: var(--linkContainerBg); */
  transition: background-color 0.15s ease;
}
.container:hover {
  background-color: var(--linkContainerBgHover);
  cursor: pointer;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 1rem;
}
.image {
  border-radius: 8px;
  overflow: hidden;
}
.content {
  margin-top: 0.25rem;
  font-size: var(--font-m);
  font-weight: 390;
  color: var(--gray9);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
