.container {
  padding: 1.25rem;
  width: 100%;
  border-radius: 8px;
  display: block;
  width: 300px;
  flex-shrink: 0;
  border: 1px solid var(--gray5);
  margin: 0rem 0rem 0rem;
  background-color: var(--linkContainerBg);
  border: 1px solid var(--linkContainerBorder);
  transition: background-color 0.15s ease;
}
.container:hover {
  background-color: var(--linkContainerBgHover);
  border: 1px solid var(--linkContainerBorderHover);
  cursor: pointer;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 1rem;
}
.image {
  border-radius: 6px;
}
