.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0rem 0.25rem;
}
.left {
  display: flex;
  flex-shrink: 0;

  flex-direction: row;
  align-items: flex-start;
  padding: 1.25rem 0rem;
  margin-top: 2px;
  margin-right: 1rem;
}
.right {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid var(--linkContainerBorder);
  justify-content: space-between;
  padding: 1.25rem 0rem;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.icon {
  border-radius: 5px;

  flex-shrink: 0;
}
.type {
  margin-top: 0.5rem;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray9);
}
.outer {
  margin: 1rem 0rem 0rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -6rem;
}
.date {
  width: 6rem;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray9);
  text-align: right;
}
