.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.675rem 0.5rem 0.875rem;
  position: static;
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 2px;
  border: 0.5px solid transparent;
  transition: all 0.1s ease;
}
.item:hover {
  background: var(--highlighthover);
  cursor: pointer;
}
.item:active {
  background: var(--highlighthover);
  transform: scaleX(0.985) scaleY(0.985) translateY(0.5px);
}
.title {
  font-size: 1.4rem;
  line-height: 170%;
  font-weight: 580;
  margin-bottom: 0px !important;
  color: var(--gray12);
  transition: color 0.25s ease;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  font-weight: 450;
  font-size: 13.2px;
  margin: 0px 0px 0px 10px;
  color: var(--menuLabel);
  letter-spacing: 0.15px;
}
.shortcut {
  background: var(--tabbg);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortcutText {
  font-size: 11px;
  color: var(--tabText);
}
.icon {
  border-radius: 4px;
  width: 22px;
  height: 22px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  /* backdrop-filter: blur(2px); */
  background-color: var(--overlayDarkness);
  /* animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards; */
  z-index: 9;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--modalBg);
  color: var(--gray12);
  box-shadow: rgba(20, 20, 20, 0.15) 0px 10px 38px -10px,
    rgba(20, 20, 20, 0.05) 0px 10px 20px -15px;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  z-index: 10;
  padding: 2.25rem 2.5rem;
}

.overlay[data-state="open"] {
  animation: overlay-show 250ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.overlay[data-state="closed"] {
  animation: overlay-out 200ms ease-out forwards;
}
.content[data-state="open"] {
  animation: content-show 250ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.content[data-state="closed"] {
  animation: content-out 200ms ease-out forwards;
}
.content h1 h2 h3 p {
  color: var(--gray12);
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overlay-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes content-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes content-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
.title {
  margin-bottom: 0.75rem;
  margin-left: -2px;
}

@media (max-width: 700px) {
  .shortcut {
    display: none;
  }
  .label {
    display: none;
  }
  .item {
    border-radius: 8px;

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;

    width: 94%;

    padding: 2rem;
  }
  .title {
    margin-bottom: 0rem;
  }
}
