.container {
  padding: 2rem;
  width: 100%;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1.5rem 1rem 1.5rem; */
  padding: 1.5rem 0rem 1.5rem 0rem;

  /* margin-top: 0.75rem; */
  /* background-color: var(--linkContainerBg); */
  border-bottom: 1px solid var(--linkContainerBorder);

  transition: background-color 0.15s ease;
}
/* .container:hover {
  background-color: var(--linkContainerBgHover); 
  border: 1px solid var(--linkContainerBorderHover);
} */
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-left: 1rem;
}
.stackRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* margin-right: 1rem; */
}
.entry {
  font-size: 14px;
  margin-top: 4px;
  font-weight: 500;
}
.type {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray9);
}
.icon {
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 0px 1px var(--gray5);
  overflow: hidden;
}
