.container {
  padding: 0rem 0.15rem;
  width: 14.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  position: fixed;
  top: 0px;
  height: calc(100vh - 1rem);
  margin: 0.5rem;
}

.divider {
  padding: 1.25rem 0rem 0.5rem 0.875rem;
  /* margin-top: 0.5rem; */
  font-size: 11.6px;
  font-weight: 480;
  color: var(--gray9);
  transition: color 0.15s ease;
}

.upper {
  overflow-y: visible;
  overflow-x: scroll;
  flex-shrink: 1;
  margin: -6px;
  padding: 6px;
}

@media (max-width: 700px) {
  .container {
    padding: 0.375rem 1.5rem 0.5rem 0.375rem;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.15s ease-in;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    height: 60px;
    top: auto;
    bottom: 0px;
    border-top: 1px solid var(--linkContainerBorder);
    margin: 0px;
    background-color: var(--appbg);
    z-index: 9;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .divider {
    display: none;
  }

  .upper {
    flex-shrink: 0;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }
}