.homeColumn {
  padding: 0rem 1rem 3rem;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.homeGreeting {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: flex-end;
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  .homeGreeting {
    flex-wrap: wrap;
  }
}
.homeGreetingTitle {
  font-size: clamp(56px, calc((100vw - 350px) * 0.1), 135px);
  margin-left: clamp(-12px, calc((100vw - 350px) * -0.009), 0px);

  font-weight: 390;
  color: var(--gray12);
  transition: color 0.25s ease;
  line-height: 1.1;
  flex-shrink: 0;
}
.homeGreetingSubtitle {
  width: auto;
  font-size: clamp(16.5px, calc((100vw - 350px) * 0.0175), 20px);
  font-weight: 390;
  color: var(--gray12);
  transition: color 0.25s ease;
  padding-bottom: clamp(16px, calc((100vw - 350px) * 0.006), 32px);
  margin-left: clamp(4px, calc((100vw - 350px) * 0.012), 16px);
  margin-top: 1rem;
  flex-shrink: 1;
}
.tinyText {
  font-size: 11.3px;
  color: var(--gray9);
  font-weight: 360;
  letter-spacing: 0.2px;
  opacity: 0.7;
  padding-bottom: 6rem;
}
.introContainer {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 3rem -1.5rem 1rem -1.5rem; */
  /* height: 100px; */
  align-items: stretch;
  grid-auto-flow: unset;
  margin-top: 0px;
  margin-bottom: 0px;
}

.homeStoreGrid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-left: 0rem;
  justify-items: stretch;
  align-items: stretch;
  overflow: hidden;
  grid-auto-rows: 0;
}
@media (max-width: 1280px) {
  .homeStoreGrid {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .homeStoreGrid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}
.homeReadingGrid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-left: 0rem;
  justify-items: stretch;
  align-items: stretch;
  grid-auto-rows: 0;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .homeReadingGrid {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .homeReadingGrid {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .homeReadingGrid {
    grid-template: repeat(6, 1fr) / repeat(1, 1fr);
  }
}
.homeGoodsGrid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(5, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-left: 0rem;
  justify-items: stretch;
  align-items: stretch;
  overflow: hidden;
  grid-auto-rows: 0;
}
@media (max-width: 1280px) {
  .homeGoodsGrid {
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }
}
@media (max-width: 960px) {
  .homeGoodsGrid {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .homeGoodsGrid {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}
.homeSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}
.homeSectionTitle {
  font-size: 1.25rem;
  line-height: 170%;
  font-weight: 550;
  color: var(--gray12);
  margin-bottom: 0.75rem;
  transition: color 0.25s ease;
}
.homeLinkButton {
  font-size: var(--font-s);
  color: var(--gray9);
  transition: background-color 0.075s ease-in, color 0.075s ease-in;
  border-radius: 5px;
  margin-right: -5px;
  padding: 5.5px 9px;
}
.homeLinkButton:hover {
  font-size: var(--font-s);
  color: var(--gray12);
  background: var(--linkContainerBgHover);
}
