@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/whiteA.css";
@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/grayDark.css";

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/AktivGroteskVF_W_Wght.woff2")
      format("woff2 supports variations"),
    url("/fonts/AktivGroteskVF_W_Wght.woff2") format("woff2-variations");

  font-weight: 100 900;
}
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
    font-weight: 100 900;
  }
}

:root {
  --font-sans: Aktiv Grotesk;
  /* --font-serif: Blanco; */

  --font-l: 14.9px;
  --font-m: 13.7px;
  --font-s: 12.3px;

  --appbg: rgb(252, 252, 252);
  --bg: white;
  --bgSticky: rgba(255, 255, 255, 0.746);

  --menu: rgba(255, 255, 255, 0.452);
  --menuLabel: rgba(0, 0, 0, 0.825);

  --highlight: rgba(255, 255, 255, 0.589);
  --highlighthover: rgba(255, 255, 255, 0.5);
  --highlightActiveBorder: rgba(0, 0, 0, 0.08);
  --tabbg: rgba(0, 0, 0, 0.071);
  --tabText: rgba(0, 0, 0, 0.344);

  --linkContainerBg: rgb(255, 255, 255);
  --linkContainerBorder: rgb(245, 245, 245);
  --linkContainerBgHover: rgb(243, 243, 243);
  --linkContainerBorderHover: rgb(230, 230, 230);

  --overlayDarkness: rgba(0 0 0 / 0.3);
  --modalBg: rgb(255, 255, 255);

  --imageBg: #f9fafb;
}
@media (max-width: 700px) {
  :root {
    --font-l: 16px;
    --font-m: 14.8px;
    --font-s: 13.3px;
  }
}

.dark-theme {
  /* Remap your colors for dark mode */
  --appbg: rgb(26, 26, 26);
  --bg: rgb(16, 16, 16);
  --bgSticky: rgba(16, 16, 16, 0.746);

  --menu: rgba(10, 10, 10, 0.8);
  --menuLabel: rgba(255, 255, 255, 0.8);
  --highlight: rgba(255, 255, 255, 0.1);
  --highlighthover: rgba(255, 255, 255, 0.05);
  --highlightActiveBorder: rgba(255, 255, 255, 0.04);
  --tabbg: rgba(255, 255, 255, 0.08);
  --tabText: rgba(255, 255, 255, 0.372);

  --linkContainerBg: rgb(21, 21, 21);
  --linkContainerBorder: rgb(26, 26, 26);
  --linkContainerBgHover: rgb(42, 42, 42);
  --linkContainerBorderHover: rgb(45, 45, 45);

  --overlayDarkness: rgba(0 0 0 / 0.65);
  --modalBg: rgb(28, 28, 28);

  --imageBg: #191919;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.08;
  z-index: -1;
  height: 100%;
}

.dark-theme .bg {
  opacity: 0.08;
}
.dark-theme .iconInvert {
  filter: invert(1);
  transition: color 0.2s ease;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
button {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  position: relative;
}

p {
  letter-spacing: 0.1px;
  font-weight: 390;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
code {
  background: var(--gray5);
  border-radius: 3px;
  padding: 0px 4px;
  margin: 0px 0px 0px;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.tag {
  padding: 3px 4px;
  margin-left: 3px;
  border-radius: 3px;
  font-size: var(--font-s);
  line-height: 1;
  color: rgba(0, 0, 0, 0.74);
  transition: all 0.2s ease;
}
.dark-theme .tag {
  color: rgba(255, 255, 255, 0.68);
}
.defaultTag {
  background-color: #f1f1f0;
}
.grayTag {
  background-color: #e3e2e0;
}
.brownTag {
  background-color: #ece1db;
}
.orangeTag {
  background-color: #f6dfcc;
}
.yellowTag {
  background-color: #faedcc;
}
.greenTag {
  background-color: #dfeddd;
}
.blueTag {
  background-color: #d7e5ee;
}
.purpleTag {
  background-color: #e6dfed;
}
.pinkTag {
  background-color: #f2e1e9;
}
.redTag {
  background-color: #fae3de;
}

.dark-theme .defaultTag {
  background-color: #414141;
}
.dark-theme .grayTag {
  background-color: #5a5a5a;
}

.dark-theme .brownTag {
  background-color: #5b3d2f;
}

.dark-theme .orangeTag {
  background-color: #7d4f27;
}

.dark-theme .yellowTag {
  background-color: #836534;
}

.dark-theme .greenTag {
  background-color: #375841;
}

.dark-theme .blueTag {
  background-color: #2f4469;
}

.dark-theme .purpleTag {
  background-color: #453061;
}

.dark-theme .pinkTag {
  background-color: #62344b;
}

.dark-theme .redTag {
  background-color: #673932;
}

@media (max-width: 700px) {
  .tag {
    margin-left: 0px;
    margin-right: 3px;
  }
}
