.outer {
  background-color: var(--appbg);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  transition: background-color 0.75s ease;
}
.container {
  /* max-width: 1800px;
  max-height: 1080px; */
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 1;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 100%;
  background: var(--bg);
  border-radius: 10px;
  padding: 6.5rem 4rem;
  order: 1;
  flex-grow: 1;
  margin-left: 0.5rem;
  background-color: var(--bg);
  overflow: auto;
  transition: all 0.15s ease-in;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
}
.pageColumn {
  max-width: 38rem;
  width: 100%;
}
.divider {
  padding: 1.25rem 0rem 0rem 0.25rem;
  /* margin-top: 0.5rem; */
  font-size: 12.4px;
  font-weight: 450;
  color: var(--gray9);
}
.header {
  /* font-family: Ninna, Inter, sans-serif; */
  font-size: 2.8rem;
  /* font-family: Inter; */
  font-weight: 620;
  margin-bottom: 1.5rem;
  /* font-variation-settings: "wght" 200, "wdth" 130; */
  /* font-variation-settings: "wght" 200; */
  color: var(--gray12);
}
.externalLink,
.internalLink {
  padding-right: 22px;
  display: inline-flex;
  padding-left: 3px;
  margin-left: -3px;
  border-radius: 4px;
  align-items: center;
}

.externalLink:after {
  display: inline-block;
  padding: 0px 0px 0px 1px;
  content: url(/icons/external.svg);
  width: 22px;
  height: 20px;
  margin-right: -22px;
}

.internalLink:after {
  display: inline-block;
  /* padding-right: 24px; */
  padding: 0px 0px 0px 1px;
  content: url(/icons/internal.svg);
  width: 22px;
  height: 20px;
  margin-right: -22px;
}
.externalLink:hover,
.internalLink:hover {
  background-color: var(--gray5);
  transition: all 0.2s ease;
}
.list {
  padding: 0px;
  margin-top: 3rem;
}
.description {
  margin: 0rem 0rem 0.5rem;
  padding: 0.25rem;
  line-height: 1.6;
  font-size: 0.95rem;
  color: var(--gray11);
}
.tileTitle {
  font-weight: 400;
  font-size: 14.6px;
}
.tileContent {
  margin-top: 0.25rem;
  font-size: 13.3px;
  font-weight: 400;
  color: var(--gray9);
}
.inset4 {
  padding: 0rem 0.25rem;
}
.grid {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.swimlane {
  display: flex;
  flex-direction: row;
  overflow: auto;
  /* width: 100%; */
}
.read {
  font-size: 0.95rem;
  line-height: 170%;
  color: var(--gray11);
  margin-bottom: 1.5rem;
}
.readTitle {
  font-size: 1.125rem;
  line-height: 170%;
  font-weight: 600;
  color: var(--gray12);
  margin-bottom: 0.5rem;
}
.icon {
  border-radius: 5px;
  width: 22px;
  height: 22px;
  opacity: 0.65;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.tabBar {
  margin-bottom: 1.25rem;
}
.tags {
  flex-shrink: 0;
  flex-wrap: nowrap !important;
}
.tab {
  padding: 7px 10px 7px 10px;
  font-size: 14px;
  position: static;
  height: 28px;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: 0.5px solid transparent; */
  transition: all 0.1s ease;
  line-height: 1;
  color: var(--gray10);
  background: transparent;
  border: none;
  margin-right: 1px;
}
.tab:hover {
  background: var(--gray4);
  /* color: var(--gray11); */
  cursor: pointer;
}
.tab:active {
  /* background: var(--highlighthover); */
  transform: scaleX(0.975) scaleY(0.975) translateY(0.25px);
}
.tab[aria-selected="true"] {
  background: var(--gray4);
  color: var(--gray12);
}

@media (max-width: 700px) {
  .outer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    transition: background-color 0.75s ease;
  }
  .container {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 1;
  }
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    width: 100%;
    border-radius: 10px;
    padding: 3rem 1rem;
    order: 1;
    flex-grow: 1;
    margin-left: 0rem;
    overflow: auto;
  }

  .header {
    font-size: 2rem;
  }
  .icon {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.65;
  }
}
