.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  height: calc(100vh - 1rem);
  position: relative;
  border-radius: 8px;
  padding: 2rem 2rem;
  order: 1;
  flex-grow: 1;
  margin-left: 15.5rem;
  background-color: var(--bg);
  overflow: auto;
  transition: background-color 0.2s ease;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.035);
}

.viewTruncated {
  font-size: var(--font-m);
  line-height: 1.35;
  color: var(--gray11);
  max-width: 300px;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.pageColumn {
  padding: 4rem 0rem;
  max-width: 40rem;
  width: 100%;
}

.projectColumn {
  padding: 0rem 0rem 3rem;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodsColumn {
  padding: 0rem 0rem 3rem;
  max-width: 1650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.projectTopContainer {
  padding: 1.375rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.25rem 0rem 2rem;
}

.projectTopLeft {
  width: 70%;
  max-width: 720px;
}

.goodsTopContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.125rem 0rem 1.25rem;
}

.goodsDescription {
  font-weight: 390;
  padding: 0.125rem;
  line-height: 1.38;
  font-size: var(--font-s);
  color: var(--gray9);
  transition: color 0.25s ease;
  max-width: 336px;
  text-align: right;
  margin-top: 0.125rem;
}

.textDivider {
  padding: 1.25rem 0rem 0rem 0.25rem;
  /* margin-top: 0.5rem; */
  font-size: 12.4px;
  font-weight: 450;
  color: var(--gray9);
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.header {
  font-size: 2.275rem;
  font-weight: 560;
  margin-bottom: 1.5rem;
  color: var(--gray12);
  transition: color 0.25s ease;
}

.projectHeader {
  font-size: 2.25rem;
  font-weight: 620;
  color: var(--gray12);
  transition: color 0.25s ease;
}

.projectSectionHeader {
  font-size: 1.45rem;
  font-weight: 520;
  color: var(--gray12);
  transition: color 0.25s ease;
  width: 100%;
  padding-top: 6.5rem;
  margin-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1rem;
}

.projectSectionHeader[data-size="l"] {
  padding-top: 8rem;
}

.projectSectionHeader[data-size="s"] {
  padding-top: 4.5rem;
}

.projectDescription {
  font-weight: 390;
  padding: 0.125rem;
  line-height: 1.68;
  font-size: var(--font-l);
  color: var(--gray11);
  transition: color 0.25s ease;
  max-width: 580px;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1rem;
  position: relative;
}

@media (max-width: 700px) {
  .projectDescription {
    width: 100%;

  }
}

.goodsHeader {
  font-size: 1.75rem;
  font-weight: 580;
  color: var(--gray12);
  transition: color 0.25s ease;
}

.normalLink:hover {
  color: var(--gray10);
}

.internalLink,
.externalLink {
  padding-right: 16px;
  display: inline-flex;
  padding-left: 4px;
  margin-left: -3px;
  margin-right: -2px;
  border-radius: 4px;
  align-items: stretch;
}

.externalLink:after {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  content: "↗";
  width: 14px;
  height: 16px;
  margin-right: -16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: 2.5px;
  font-weight: 300;
}

.pointer {
  cursor: pointer;
}

.internalLink:after {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  content: "→";
  width: 14px;
  height: 16px;
  margin-right: -16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: 2.5px;
  font-weight: 300;
}

.externalLink:hover,
.internalLink:hover {
  background-color: var(--gray4);
  transition: all 0.2s ease;
  color: var(--gray12);
}

.list {
  padding: 0px;
  margin-top: 3rem;
}


.description {
  font-weight: 390;
  padding: 0.125rem;
  line-height: 1.6;
  font-size: var(--font-l);
  color: var(--gray11);
  transition: color 0.25s ease;
  margin-top: 16px;
}

.description p {
  margin: 0rem 0rem 0.5rem;
}

.tileTitle {
  font-weight: 390;
  letter-spacing: 0.1px;
  line-height: 1.1;
  font-size: var(--font-l);
  color: var(--gray12);
  transition: color 0.25s ease;
}

.tileContent {
  margin-top: 0.25rem;
  font-size: var(--font-m);
  color: var(--gray10);
  line-height: 1.4;
  transition: color 0.25s ease;
}

.read p,
.read li {
  font-size: var(--font-l);
  line-height: 1.75;
  color: var(--gray12);
  transition: color 0.25s ease;
}

.read p {
  margin-bottom: 1.25rem;
}


.read li {
  margin-bottom: 0.25rem;
}

.read h1 {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 560;
  color: var(--gray12);
  margin-bottom: 0.75rem;
  transition: color 0.25s ease;
}

.read h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 170%;
  font-weight: 540;
  color: var(--gray12);
  margin-bottom: 0.5rem;
  transition: color 0.25s ease;
}

.read h3 {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 170%;
  font-weight: 540;
  color: var(--gray12);
  margin-bottom: 0.25rem;
  transition: color 0.25s ease;
}

.read a {
  padding-right: 16px;
  display: inline-flex;
  padding-left: 4px;
  margin-left: -3px;
  margin-right: -2px;
  border-radius: 4px;
  align-items: stretch;
}

.read a:after {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  content: "↗";
  width: 14px;
  height: 16px;
  margin-right: -16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: 2.5px;
  font-weight: 300;
}

.read a:hover {
  background-color: var(--gray4);
  transition: all 0.2s ease;
  color: var(--gray12);
}

.read ul {
  padding-left: 1.5rem;
}

.read ul,
.read ol {
  margin-top: -0.5rem;
}

.projectDate {
  text-align: center;
  font-size: var(--font-m);
  color: var(--gray9);
  transition: color 0.25s ease;
}

.inset {
  padding: 0rem 0.125rem;
  display: block;
}

.twitter {
  background-color: var(--gray2);
  display: flex;
  flex-direction: column;
  padding: clamp(4px, 6%, 36px) clamp(4px, 7%, 48px);
  border-radius: 20px;
  gap: 1rem;
}

@media (max-width: 700px) {
  .twitter {
    background-color: transparent;
    padding: 0px;
    border-radius: 12px;
    gap: 0.5rem;
  }
}

.twitterSubtitle {
  font-size: var(--font-m);
  color: var(--gray10);
}

.grid {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  margin: 3rem -1rem;
}

.fullWidthGrid {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 0.175rem;
  grid-row-gap: 1.875rem;
}

@media (max-width: 1680px) {
  .fullWidthGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  .fullWidthGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .fullWidthGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .grid {
    margin-top: 1.5rem;
  }

  .list {
    margin-top: 1.5rem;
  }
}

.readTitle {
  margin-top: 3.5rem;
  font-size: 1.25rem;
  line-height: 170%;
  font-weight: 550;
  color: var(--gray12);
  margin-bottom: 0.75rem;
  transition: color 0.25s ease;
}

.divider {
  border-top: 1.5px solid var(--gray3);
  margin: 4rem 0rem 2rem;
  transition: border 0.25s ease;
}

.icon {
  border-radius: 5px;
  width: 16px;
  height: 16px;
  opacity: 0.85;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.inlineCTA {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--linkContainerBgHover);
  padding: 1.25rem 1.5rem;
  border-radius: 6px;
  margin: 1.5rem 0rem -2rem;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 700px) {
  .inlineCTA {
    flex-wrap: wrap;
  }
}

.tabRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow: scroll;
}

.settingButton {
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
}

.settingButton:hover,
.settingButton:focus {
  background-color: var(--gray3);
}

.tabBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: sticky;
  top: -32px;
  height: 43px;
  z-index: 2;
  background-color: var(--bg);

  transition: background-color 0.2s ease;
  border-bottom: solid 1px var(--tabBorder);
  box-sizing: border-box;
  transition: border 0.25s ease;
  margin-bottom: 1.5rem;
}

.emptyState {
  padding: 3rem;
  font-size: var(--font-m);
  color: var(--gray9);
  border-radius: 6px;
  border: 1px solid var(--gray3);
  display: flex;
  justify-content: center;
}

.tags {
  flex-shrink: 0;
  flex-wrap: nowrap !important;
}

.badge {
  font-size: var(--font-m);
  padding: 6px 8px 6px 8px;
  line-height: 1;
  background-color: var(--gray3);
  border-radius: 4px;
  color: var(--gray11);
  font-weight: 440;
  margin-top: 0.75rem;
  box-sizing: content-box;
  display: inline-block;
}

.tab {
  padding: 14px 0px 10px 0px;
  font-size: var(--font-m);
  position: static;
  height: 44px;
  box-sizing: border-box;
  transition: all 0.1s ease;
  line-height: 1;
  color: var(--gray10);
  background: transparent;
  border: none;
  border-bottom: solid 3px transparent;
  min-width: 1.75rem;
  margin-right: 0.875rem;
  flex-shrink: 0;
}

.tab:hover {
  color: var(--gray12);
  cursor: pointer;
}

.tab:active {
  transform: scaleX(0.975) scaleY(0.975) translateY(0.25px);
}

.tab[aria-selected="true"] {
  color: var(--gray12);
  border-bottom: solid 3px var(--gray12);
}

.imageBg {
  background-color: var(--imageBg);
  margin-bottom: 2rem;
  border-radius: 12px;
}

.videoBg {
  background-color: var(--imageBg);
  margin-bottom: 2rem;
  border-radius: 12px;
  border: 1px solid var(--gray6);
}

.backButton {
  padding: 12px 20px 12px 18px;
  margin-top: 3.5rem;
  border-radius: 24px;
  background-color: var(--gray2);
  color: var(--gray11);
  font-size: var(--font-m);
  font-weight: 480;
  transition: all 0.2s ease;
}

.backButton:hover {
  background-color: var(--gray4);
  color: var(--gray12);
}

.checkbox {
  all: unset;
  background-color: var(--gray2);
  border: 1px solid var(--gray6);
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin-right: 0.5rem;
}

.checkbox:hover {
  background-color: var(--gray3);
}

.checkbox:focus {
  box-shadow: 0 0 0 2px var(--gray11);
}

.arrow {
  fill: var(--modalBg);
}

.button {
  height: 2.075rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  background-color: transparent;
  border: none;
  transition: background-color 0.15s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-m);
  flex-shrink: 0;
}

.button:hover {
  background-color: var(--gray4);
}

.iconButtonText {
  margin-left: 0.375rem;
  font-size: var(--font-m);
  color: var(--gray12);
  transition: color 0.15s ease;
}

.buttonText {
  font-size: var(--font-m);
  color: var(--gray12);
  transition: color 0.15s ease;
}

.singleButton {
  border: 1px solid var(--gray4);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: border 0.15s ease, background-color 0.15s ease, color 0.15s ease;
}

.secondaryButton {
  background-color: var(--linkContainerBgHover);
  border: 1px solid var(--gray5);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: border 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  font-weight: 480;
  color: var(--gray12);
  font-size: var(--font-m);
}

.secondaryButton:hover {
  background-color: var(--linkContainerBorderHover);
}

.primaryButton {
  background-color: var(--gray12);
  color: var(--gray1);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: opacity 0.15s ease;
  font-weight: 480;
  font-size: var(--font-m);
}

.primaryButton:hover {
  opacity: 0.85;
  background-color: var(--gray12);
}

.popover {
  border-radius: 5px;
  padding: 12px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-m);
  line-height: 1;
  color: var(--gray11);
  background-color: var(--modalBg);
  box-shadow: hsl(206 22% 7% / 60%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 30%) 0px 10px 20px -15px;
}

@media (prefers-reduced-motion: no-preference) {
  .popover {
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    will-change: transform, opacity;
  }

  .popover[data-side="top"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  .popover[data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  .popover[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  .popover[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.tooltip {
  border-radius: 5px;
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-s);
  line-height: 1;
  color: var(--gray11);
  background-color: var(--modalBg);
  box-shadow: hsl(206 22% 7% / 80%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 50%) 0px 10px 20px -15px;
  z-index: 999;
}

.tooltipLarge {
  border-radius: 0.5rem;
  padding: 14px 18px;
  box-shadow: hsl(206 22% 7% / 30%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

@media (prefers-reduced-motion: no-preference) {
  .tooltip {
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    will-change: transform, opacity;
  }

  .tooltip[data-state="delayed-open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  .tooltip[data-state="delayed-open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  .tooltip[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  .tooltip[data-state="delayed-open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .hiddenOnMobile {
    display: none;
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    width: auto;
    border-radius: 0px;
    padding: 0rem 1rem 4rem;
    order: 1;
    flex-grow: 1;
    margin-left: 0rem;
    overflow: auto;
    margin: 0rem;
    height: auto;
  }

  .header {
    font-size: 2.5rem;
  }

  .readTitle {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .icon {
    border-radius: 5px;
    width: 22px;
    height: 22px;
    opacity: 0.65;
  }

  .singleButton {
    margin-left: 0px;
  }

  .description {
    margin: 1rem 0rem;
  }

  .projectTopLeft {
    width: 100%;
  }

  .goodsTopContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0rem 0rem;
  }

  .goodsDescription {
    text-align: left;
    margin: 1rem 0rem;
    font-size: var(--font-m);
  }

  .projectTopContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}